html {
    height: 100%;
}

body {
    background: $principalBG;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.videoTienda {
    width: 100%;
    box-shadow: 0px 0px 27px 19px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 0px 0px 27px 19px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 0px 27px 19px rgba(0, 0, 0, 0.48);
}

.listaDatos{
    list-style-image: url(../media/icons8-harry-potter.svg);
}

footer {
    background-color: $footerColor;

    a {
        color: #72f072 !important;

        &:hover {
            color: #72cf72;
            transform: scale(110%);
            transition: all 0.5s;
        }
    }

    p {
        color: $white;
    }
}

.card {
    &-img-top {
        &-div {
            overflow: hidden;
        }

        &-zoom {
            width: 100%;
            height: 100%;
            overflow: hidden;
            object-fit: cover;
            transition: 0.4s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &Margins {
        padding: 0 !important;
    }

    &Ravenclaw {
        background: $ravenclawBG;
    }

    &Slytherin {
        background: $slytherinBG;
    }

    &Gryffindor {
        background: $gryffindorBG;
    }

    &Hufflepuff {
        background: $hufflepuffBG;
    }

    
    &-text {
        color: $white;
    }
    
    &-title {
        color: $white;
    }
    
    background: $commonBG;
    border: 1px transparent solid;
    overflow: hidden;
    box-shadow: 10px 8px 6px -1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 10px 8px 6px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 8px 6px -1px rgba(0, 0, 0, 0.5);
}

.btn {
    &Color {
        &Ravenclaw {
            background: linear-gradient(to right, #3a7bd5 0%, #3a6073 51%, #3a7bd5 100%);
            text-align: center;
            text-transform: uppercase;
            background-size: 200% auto;
            color: $white !important;
            width: 150px !important;

            &:hover {
                transition: 0.5s;
                background-position: right center;
                color: #fff;
                text-decoration: none;
            }
        }

        &Slytherin {
            background: linear-gradient(to right, #485563 0%, #29323c 51%, #485563 100%);
            text-align: center;
            text-transform: uppercase;
            background-size: 200% auto;
            color: $white !important;



            &:hover {
                transition: 0.5s;
                background-position: right center;
                color: #fff;
                text-decoration: none;
            }
        }

        &Gryffindor {
            background: linear-gradient(to right, #D31027 0%, #EA384D 51%, #D31027 100%);
            text-align: center;
            text-transform: uppercase;
            background-size: 200% auto;
            color: $white !important;
            width: 150px !important;


            &:hover {
                transition: 0.5s;
                background-position: right center;
                color: #fff;
                text-decoration: none;
            }
        }

        &Hufflepuff {
            background: linear-gradient(to right, #F7971E 0%, #FFD200 51%, #F7971E 100%);
            text-align: center;
            text-transform: uppercase;
            background-size: 200% auto;
            color: $white !important;
            width: 150px !important;


            &:hover {
                transition: 0.5s;
                background-position: right center;
                color: #fff;
                text-decoration: none;
            }
        }

        background: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
        text-align: center;
        text-transform: uppercase;
        background-size: 200% auto;
        color: white !important;
        width:150px !important;

        &:hover {
            transition: 0.5s;
            background-position: right center;
            color: #fff;
            text-decoration: none;
        }
    }

    &ToProductos {
        font-size: map-get($map: $fontSize, $key: XS) !important;
        background-color: #5c056b !important;
        color: $white !important;
        text-decoration: none;
        display: inline-block;
        --bs-btn-line-height: 1.5;
        line-height: var(--bs-btn-line-height);
        --bs-btn-padding-x: 0.75rem;
        --bs-btn-padding-y: 0.375rem;
        padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
        border-radius: $borderRadiusSm;

        &:hover {
            background-color: #460551 !important;
            transition: background-color 0.5s;

            &::after {
                background-color: #5c056b !important;
                transition: background-color 0.5s;
            }
        }
    }

    font-size: map-get($map: $fontSize, $key: XS) !important;
}

.filtro {
    &Label {
        font-size: 1.8em;
        color: $black;
        margin-left: 1em;
    }

    &Input {
        padding: 0.5rem;
        font-size: map-get($map: $fontSize, $key: Md);
        border: 1px transparent solid;
        border-radius: 15px;
        margin-left: 1em;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    }

    &Select {
        padding: 0.5rem;
        font-size: map-get($map: $fontSize, $key: Md);
        border: 1px transparent solid;
        border-radius: 15px;
        margin-left: 1em;
    }
}

.table {
    &Head {
        font-size: map-get($map: $fontSize, $key: Md);
    }

    &Buttons {
        align-items: baseline
    }

    &ButtonFont {
        font-size: 1.25rem
    }

    &Price {
        font-size: map-get($map: $fontSize, $key: Md);
        color: $black;
        background-color: #fff;
        margin-right: auto;
        width: fit-content;
        border-radius: $borderRadiusSm;
    }
}

.borrarProducto {
    text-decoration: none;
}

.borderSimple {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

footer {
    margin-top: auto;
}