.wellcome {
    background-color: #582707;
    color: #F5EAEA;
    overflow: hidden;

    p {
        white-space: nowrap;
        width: fit-content;
        overflow: hidden;
        margin: 0;
        font-size: 1.25em;
        animation: marquee 15s infinite ease-out;
    }
}
.btnHamburguesa{
    background-color: rgba(201, 201, 201, 0.126);
    padding: 6px 6px 12px 6px;
    border: $commonBorder;
    border-radius: 50%;
}

@keyframes marquee {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(100vw);
    }
}

header {
    .h1 {
        font-size: map-get($map: $fontSize, $key: Xl);

        &Logo {
            width: 140px;
        }

        &:hover {
            transform: scale(110%);
            transition: all 1s;
        }
    }

    .nav-link {
        margin-left: 16px;

        &:hover {
            transform: scale(110%);
            transition: all 0.5s;
        }
    }

    .navbar-toggler {
        border: none;
        color: $black;

        &:focus {
            box-shadow: none;
        }
    }

    background-color: $headerBG;
    border-bottom: 1px rgba($color: #000000, $alpha: .45) solid;
}

.carrito {
    padding: 6px!important;
    color: $black !important;
    margin-left: 0.9rem;
    background-color: rgba(221, 235, 24, 0.682) !important;
    border: $commonBorder!important;
    border-radius: 90px;
    width: fit-content;
}