@media (max-width: 1440px) {
    .card {
        margin-left: 2rem;
    }
}


@media (max-width: 1024px) {
    .card {
        margin-left: 1.5rem
    }

    .h1 {
        font-size: map-get($map: $fontSize, $key: headerMobile);

        &Logo {
            width: 100px;
        }
    }
}

@media (max-width: 768px) {
    .card {
        margin-left: 2rem;
    }

    .wellcome {
        p {
            font-size: 1em;
        }
    }

    .h1 {
        &Logo {
            width: 100px !important;
        }

        font-size: 2em !important;
    }

    .table {
        &Img {
            width: 80px;
        }

        &Text {
            font-size: 1.2em !important;
        }

        &Head {
            font-size: 1.2em !important;
        }

        &ButtonFont {
            font-size: 0.9em !important;
        }

        &Price {
            font-size: 0.9em;
        }
    }
}

@media (max-width: 425px) {
    .card {
        margin-left: 3rem;
    }

    .table {
        &Img {
            width: 80px;
        }

        &Text {
            font-size: 1em !important;
        }

        &Head {
            font-size: 1em !important;
        }

        &ButtonFont {
            font-size: 0.8em !important;
        }

        &Price {
            font-size: 0.8em;
        }
    }

    .filtro {
        flex-direction: column;
        &Label{
            margin-left: 4rem;
            margin-bottom: 1rem;
        }
        &Input{
            margin-left: 4rem;
            margin-bottom: 2rem;
        }
    }
}

@media (max-width: 375px) {
    .card {
        margin-left: 2rem;
    }

    .wellcome {
        p {
            font-size: 0.8em;
        }
    }

    .h1 {
        &Logo {
            width: 80px !important;
        }

        font-size: 1.5em !important;
    }

    .table {
        &Img {
            width: 80px;
        }

        &Text {
            font-size: 0.75em !important;
        }

        &Head {
            font-size: 0.8em !important;
        }

        &Buttons {
            align-items: center;
            flex-direction: column;
        }

        &ButtonFont {
            margin: 0.4rem 0 0 0;
            font-size: 1em !important;
        }

        &Price {
            margin: 0.4rem 0 0 0;
            font-size: 1em;
        }

        margin-bottom: 0;
    }
}

@media (max-width: 345px) {
    .card {
        margin-left: 8px!important;
    }
    .filtro {
        flex-direction: column;
        &Label{
            margin-left: 4rem;
            margin-bottom: 1rem;
        }
        &Input{
            margin-left: 2rem;
            margin-bottom: 2rem;
        }
    }
}